* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

.container .tittle-site {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1;
  font-family: "poppins", sans-serif;
}

.container .navbar-brand:hover {
  color: #ffbb00;
}

.navbar {
  background-color: #040405;
}
.nav-item .nav-link {
  font-size: 1rem;
  color: #fff;
}

.nav-item .nav-link:hover {
  color: #ffbb00;
}

.offcanvas-body,
.offcanvas-header {
  background-color: #111;
}

.carousel-item img {
  filter: brightness(0.2);
  width: auto;
  height: auto;
}

.conteudo-intro h2 {
  font-family: "poppins", sans-serif;
  font-size: 4rem;
  margin-top: -300px;
}

.conteudo-intro p {
  font-size: 1rem;
  font-style: italic;
  color: #838282;
  font-weight: bold;
}

.bg {
  background-image: url(img/background.jpg);
  background-repeat: repeat;
  object-fit: cover;
}
footer p {
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: 900;
}

/* SECTION SOBRE */

.satelite {
  max-width: 280px;
  border-radius: 4px;
  box-shadow: -5px 8px 52px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -5px 8px 52px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 8px 52px 3px rgba(0, 0, 0, 0.75);
  margin-right: -300px;
}
.sobre h3 {
  color: white;
}
.sobre p {
  color: #6d6969;
  line-height: 1.8;
}
.container h3 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 40px;
}

.card {
  margin-bottom: 40px;
  border: none;
}

.card-body {
  background-image: url(img/background.jpg);
}
.card-text {
  color: #fff;
}
form {
  display: grid;
  gap: 20px;
  padding: 50px;
}

label {
  color: #fff;
}

@media (max-width: 1020px) {
  .carousel-caption {
    height: 70vh;
  }
  .conteudo-intro h2 {
    font-size: 2rem;
  }
}
@media (max-width: 850px) {
  .carousel-caption {
    height: 45vh;
  }
}
@media (max-width: 690px) {
  .carousel-caption {
    height: 40vh;
  }
  .carousel-caption h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 650px) {
  .navbar {
    margin-top: 10px;
  }
  .carousel-caption {
    height: 25vh;
  }
  .carousel-caption h2 {
    display: none;
  }
  .container .tittle-site {
    font-size: 1.5rem;
  }

  .sobre h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .container h3 {
    text-align: center;
  }

  .card {
    margin-left: 35px;
  }
}

@media (max-width: 500px) {
  .carousel-caption p {
    display: none;
  }
  .sobre h3 {
    text-align: center;
  }
  .card {
    margin-left: 60px;
  }
}
